$wellness-nav: #737b7f;
$wellness-green: #6eb633;
$wellness-text: #333;
$wellness-blue: #0986af;
$wellness-white: #fff;
$wellness-black: #000;
$wellness-darkblue: #0a3677;
$wellness-lightblue: #35e0fc;
$wellness-red: #ff564a;