@import 'variables';
@import 'fonts';

html {
  font-size: 10px;
  color: $wellness-text;
}

.wellness-btn {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color: $wellness-darkblue;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  background: $wellness-lightblue;
  padding: 2rem 2rem;
  text-align: center;

  &.delete {
    border-color: $wellness-red;
    color: $wellness-white;
    background: $wellness-red;
    position: relative;
    transition: all 200ms ease-in-out;

    &:hover {
      background: $wellness-red !important;

      &:before {
        content: 'Are you sure?';
        position: absolute;
        background: $wellness-red;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        opacity: 1 !important;
      }
    }
  }

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}
